torch==2.8.0+cu128

# Core application
fastapi
uvicorn

# LangChain Framework
# langchain 会自动安装 langchain-core 和 langchain-community
langchain
langchain-community
dashscope

# For environment variables
python-dotenv

